@model Garage3.Models.ParkViewModel

@{
    ViewData["Title"] = "Park";
}

<h1>Park</h1>

<h6>Park vehicle on parkingspot: @Html.DisplayFor(model => model.Id)</h6>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Park">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="VehicleTypeName" class="control-label"></label>
                @Html.DropDownListFor(m => m.VehicleTypeName, new SelectList(Model.VehicleTypesNames))
                <span asp-validation-for="VehicleTypeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Park" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Overview">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
